<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientControler</servlet-name>
        <servlet-class>front.controleur.ClientControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduitControler</servlet-name>
        <servlet-class>front.controleur.ProduitControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierValidationControler</servlet-name>
        <servlet-class>front.controleur.PanierValidationControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientControler</servlet-name>
        <url-pattern>/ClientControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduitControler</servlet-name>
        <url-pattern>/ProduitControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierValidationControler</servlet-name>
        <url-pattern>/PanierValidationControler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>view/Login.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
